
<h2>Registro</h2>

<form action="/users" method="post">
    <label for="">Email</label>
    <input type="email" name="email">
    <label for="">Contraseña</label>
    <input type="password" name="password">
    <input type="submit" value="Enviar">
</form>