<h1>Productos</h1>

<form id="form">
  <label for="">Título</label>
  <input type="text" name="title" />
  <label for="">Precio</label>
  <input type="number" name="price" />
  <label for="">Stock</label>
  <input type="number" name="stock" />
  <button type="submit">Enviar</button>
</form>

<div id="productsList"></div>

{{!-- Paquete de socket io --}}
<script src="/socket.io/socket.io.js"></script>

{{!-- Nuestro script --}}
<script src="/js/index.js"></script>